body {
    font-family: Dosis;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#thought {
    height: 5 em;
}

.form {
    display: flex;
    flex-direction: column;

}