.body {
    background-color: #F3F1F7;
}

h1 {
    color: rgb(3, 169, 244);
    font-family: "homemade apple";
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px; 
}